.page {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-primary);
}

.page-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.page-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-gray);
  text-align: center;
  margin: 0;
}
